<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thehackstore">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".about"></activity>
        <activity android:name=".lucky" />
        <activity android:name=".instagram" />
        <activity android:name=".netflix" />
        <activity android:name=".youtube" />
        <activity android:name=".spotify" />
        <activity
            android:name=".moreapps"
            android:label="@string/title_activity_moreapps" />
        <activity android:name=".home" />
        <activity android:name=".splash" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>